.DS_Store
dist
node_modules
test_html
.env.local
.yalc
yalc.lock
cypress/videos
results
cypress/screenshots/
cypress/reports/
test/src/
docs/.vitepress/dist
docs/.vitepress/cache
docs/components
.vitepress