.DS_Store
dist
node_modules
test_html
.env.local
.yalc
yalc.lock
cypress/videos
results
cypress/reports/
test/src/
docs/.vitepress/dist
docs/.vitepress/cache
docs/components
.vitepress

cypress/*
!cypress/snapshots/
!cypress/snapshots/**/
cypress/snapshots/**
!cypress/snapshots/base/cypress/component/MapContent.cy.js/minimap_hr.png
!cypress/snapshots/base/cypress/component/MapContent.cy.js/minimap_lr.png
!cypress/snapshots/MapContent.cy.js/base/cypress/component/MapContent.cy.js/minimap_hr.png
!cypress/snapshots/MapContent.cy.js/base/cypress/component/MapContent.cy.js/minimap_lr.png