// Primary colors
$purple: #8300bf;
$darkBlue: #24245b;
$grey: #303133;

// Secondary colors
$lightPurple: #bc00fc;
$blue: #0026ff;

// Status colors
$success: #5e9f69;
$warning: #ff8400;
$danger: #b51d09;

// Text colors
$neutralGrey: #616161;
$mediumGrey: #606266;
$lightGrey: #909399;

// Line colors
$lineColor1: #dcdfe6;
$lineColor2: #e4e7ed;

// Background colors
$background: #f5f7fa;
$cochlear: #ffffff;

//Search box colors
$darkGrey: #606266;

$app-primary-color: $purple !default;
$app-secondary-color: $darkBlue !default;
$text-color: $grey !default;
$input-text: $grey !default;

$system-font:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif !important;
$font-family: 'Asap', sans-serif;

// Viewport Sizes
$viewport-sm: 20rem;
$viewport-md: 47rem;
$viewport-lg: 64rem;
$viewport-xlg: 120rem;
