@import '_variables.scss';

.tooltip {
  font-family: 'Asap', 'Avenir',  Arial, sans-serif;
  :deep(.el-popper__arrow) {
    &:before {
      border-color: $app-primary-color;
      background-color: #f3ecf6;
    }
  }
}

.icon-group {
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 4px;
  right:12px;
}

.icon-group {
  :deep(.el-button--text) {
    color:#606266;
    font-size: 1.5em;
    &:hover {
      color: $app-primary-color;
    }
  }
}

.header-icon {
  height: 24px!important;
  width: 24px!important;
  margin-right:10px;
  cursor: pointer;
  :deep(.el-popper__arrow) {
    &:before {
      border-color: $app-primary-color;
      background-color: #f3ecf6;
    }
  }
}

.header-icon.disabled,
.view-icon-row.disabled {
  cursor: default;
  pointer-events: none;
}

.header-icon.disabled,
.disabled .view-icon,
.disabled .view-text {
  opacity:0.5;
}

:deep(.header-popper) {
  padding: 6px 4px;
  font-size:12px;
  color: rgb(48, 49, 51);
  background-color: #f3ecf6;
  border: 1px solid $app-primary-color;
  white-space: nowrap;
  min-width: unset;
  width: unset!important;
}

