@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,600,700&display=swap');

@import '_variables';

/* icon font path, required */
$--color-primary: $app-primary-color !default;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
