:root {
    --white: #f4f4f4;
    --white: #ffffff;
    --black: #333333;
    --warm-purple: #9c2aa0;
    --grape: #5e2750;
    --very-light-pink: #cccccc;
    --black: #000000;
    --very-light-pink: #ebebeb;
    --brown-grey: #afafaf;
    --charcoal-grey: #4a4d4e;
    --brownish-grey: #666666;
    --brown-grey: #999999;
    --deep-sky-blue: #007aff;
    --turquoise-blue: #00b0ca;
    --vibrant-purple: #8300bf;
  }